<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dateorduck" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Date or Duck</name>
	<description>
		Create dates with people around you.
	</description>

	<author email="info@dateorduck.com" href="http://dateorduck.com">
	   Date or Duck Team
	</author>
<access origin="*" subdomains="true" />
	<preference name="phonegap-version" value="cli-6.3.0" />
</widget>
