<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dateorduck" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Date or Duck</name>
	<description>
		Create dates with people around you.
	</description>

	<author email="info@dateorduck.com" href="http://dateorduck.com">
	   Date or Duck Team
	</author>
<content src="index.html" />
	<access origin="*" subdomains="true" />
	<preference name="phonegap-version" value="cli-6.3.0" />

	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="fb:*" />
    <allow-intent href="whatsapp:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>
